<apex:page >
    <script src="/support/api/32.0/interaction.js" type="text/javascript">
    </script>
    
    <script type="text/javascript">

    // Tell SalesForce we have finished loading to let the UI continue    
    sforce.interaction.cti.notifyInitializationComplete();
    
    // hide the CTI integration panel
    sforce.interaction.setVisible(false);
    
    // Handler for a click to dial event
    var clicktodialCallback = function (response) {
            if (response.result) {
                try
                {
                    // Get the data and move it into the associated fields
                    var rsp = JSON.parse(response.result);
                    //alert('User clicked on a phone number.' + response.result);

                    window.open('desk:crmdial "Number=' + rsp.number + '" "EntityType=' + rsp.object + '" "EntityID=' + rsp.objectId+'"', '_top');
                }
                catch (ex)
                {
                    alert(ex.message);
                }
            }
        };

    var enabledCallback = function (response) {
            if (response.result) {
                //alert('Click to dial was enabled');
            }
            else {
                //alert('Click to dial was not enabled');
            }
        };

        try
        {
            // Set the handler
            sforce.interaction.cti.onClickToDial(clicktodialCallback);
            
            // and then activate it
            sforce.interaction.cti.enableClickToDial(enabledCallback);
        }
        catch (ex)
        {
            alert(ex.message);
        }
    </script>
</apex:page>